* {
    box-sizing: border-box;
  }
  
html {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }
  
body {
    transition: background-color 0.5s ease;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #faeaff;
  }
  
body.dark-mode {
    background-color: #100214;
    color: #b1a2c2;
  }
  
  
  /* Animations */
@keyframes spin {
    from {
      transform: rotate(0deg) scale(1.7);
    }
    to {
      transform: rotate(360deg) scale(1.7);
    }
  }
  
/* Main Page Layout */
  
#main-content{
    margin: 225px 286px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: center;
  }
  
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  #bottom {
    margin: 28px 286px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: center;
}

.main-title {
    font-size: 40px;
    font-weight: 700;
  }
  
.nav-title {
    font-weight: 700;
    font-size: 24px;
  }
  
.button-text {
    font-size: 14px;
    font-weight: 700;
  }
  
.image-caption {
    font-size: 14px;
    font-weight: 500;
  }
  
.body-text {
    font-size: 16px;
    font-weight: 500;
  }
  
.subheader-text {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
  }
  
.profile-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  
.profile-card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  
  /* Buttons */

.multibuttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

a.button {
    padding: 8px 16px;
    border: 3px solid #141414;
    border-radius: 50px;
    color: black;
    text-decoration: none;
    width: fit-content;
    display: flex;
    gap: 5px;
    align-items: center;
    transform: scale(1);
    transition: transform 750ms ease;
}
  
a.button:not(.dark-mode):hover,
a.button.dark-mode:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    cursor: pointer;
    color: #00d77d;
    /*transform: rotate(15deg);*/
    box-shadow: 0 0 10px 0 #00d72f inset, 0 0 20px 2px #00d7c3;
    border: 3px solid #00d77d;
    transform: scale(1.3) rotate(0.05deg);
}
  
a.button.dark-mode {
    color: #b1a2c2;
}

#gallery-header-contents {
    padding-bottom: 20px;
  }

/* Filters */

.filter-title, .profile-loader-title, .import-title{
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 20px;
  }

#filter-form {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

#filter-section{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
#filter-section input, #filter-section select, #import-section input{
    background-color: #fffed0;
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    flex-grow: 1;
    max-width: 200px;
  }

#filter-section input::placeholder, #gender-input option, #gender-input, #import-section input::placeholder {
    color: #292727;
  }

#filter-section input.dark-mode::placeholder, #gender-input.dark-mode option, #gender-input.dark-mode, #import-section input.dark-mode::placeholder {
    color: #bca0be;
  }

#filter-section input.dark-mode, #filter-section select.dark-mode, #import-section input.dark-mode{
    background-color: #473a49;
  }

/*#filter-section button {
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    font-size: 14px;
    background-color: #0072C6;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.2s;
  }

#filter-section button:hover {
    background-color: #005EA7;
  }*/

  /* Navbar */
.navbar {
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
  }
  
.nav-title-link {
    color: black;
    text-decoration: none;
  }
  
.nav-title-link:hover {
    text-decoration: underline;
  }
  
.nav-title.dark-mode {
    color: #b1a2c2;
  }
  
/* Gallery Header */
  
#gallery-header {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
#gallery-header-contents {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }
  
  /* Profile Section */
  
#profiles-section {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
.profiles-container {
    display: flex;
    gap: 34px 16px;
    flex-wrap: wrap;
  }
.profile-loader-title-header {
    padding-top: 50px;
  }

/* Data Importer */
.import-data-title-header {
    padding-top: 100px;
  }

/* Profile Cards */

.profile-card {
    max-width: calc((100% - 32px) / 3);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    }
  
.profile-card-text-container {
    flex-direction: column;
    display: flex;
    }
  
.profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    }


/* Profile Gallery */
  
#profile-gallery {
    display: flex;
    flex-direction: column;
    gap: 16px;
    }
  
.profile-gallery-content {
    display: flex;
    flex-wrap: wrap;
    gap: 34px 16px;
     }
  
.gallery-image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    }
  
.gallery-image-container.half-width {
    width: calc((100% - 16px) / 2);
    }
  
.gallery-image {
    width: 100%;
    height: auto;
    }

  /* Icons */
  
.footer-icon {
    width: 20px;
    height: 20px;
  }
  
  a.icon-link {
    /*transform: scale(1);*/
    transition: transform 200ms ease-in-out;
  }
  
a.icon-link:hover {
    cursor: pointer;
    stroke-width: 5;
    margin: 0;
    /*transform: scale(1.5);*/
    animation: spin 2s infinite linear;
  }

/* Profile Images */
.profile-image {
    transform: scale(1);
    transition: transform 750ms ease;
  }
  
 .profile-image:hover {
    transform: scale(1.1) rotate(0.05deg);
    box-shadow: 0 0 10px 0 #00d72f inset, 0 0 20px 2px #00d7c3;
  }

  /* Footer */
#footer {
    width: 100%;
    display: flex;
    padding: 30px 50px;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  
  /* Other stuff */
.body-text-profile-card-tools {
    font-style: oblique;
  }
  
  /* Extra Extra large devices (large laptops and desktops, 1200px and below) */
  @media only screen and (max-width: 1600px) {
    #main-content, #bottom {
      margin: 225px 275px;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and below) */
  @media only screen and (max-width: 1200px) {
    #main-content, #bottom {
      margin: 225px 175px;
    }
  }
  
  /* Large devices (laptops/desktops, 1000px and below) */
  @media only screen and (max-width: 1000px) {
    #main-content, #bottom {
      margin: 225px 75px;
    } 
  }
  
  /* Small devices (portrait tablets and large phones, 800px and below) */
  @media only screen and (max-width: 800px) {
    #main-content, #bottom {
      margin: 150px 50px;
    }
  
    .profile-card {
      max-width: calc((100% - 16px) / 2);
    }

    #footer {
      padding: 20px 20px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and below) */
  @media only screen and (max-width: 600px) {
    #main-content, #bottom {
      margin: 125px 20px;
    }
  
    .profile-card {
      max-width: 100%;
    }
    #filter-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
    #import-form {
      display: flex;
      flex-direction: column;
  }
  .multibuttons {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.navbar {
  display: none;
}
}

    /* Small devices (portrait tablets and large phones, 600px and below) */
    @media only screen and (max-width: 300px) {
      #main-content, #bottom {
        margin: 125px 20px;
      }
    
      .profile-card {
        max-width: 100%;
      }
      #filter-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
      #import-form {
        display: flex;
        flex-direction: column;
    }
    .multibuttons {
      display: flex;
      gap: 2px;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  .navbar {
    display: none;
  }
  }
  
  
  